{% extends 'schoolapp/header.html' %}
{% load static %}
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
    <title>Новости</title>
</head>
{% endblock %}
{% block name %}

        <main class="main">
            <section class="content">
                <section class="content__info info">
                    <h2 class="info__title">Новости</h2>
                    <div class="news_items">
                        <a href="page_11.html" class="news__image">

                            <div class="news_item">

                                 <div class="news__image"><img src="{% static 'img/news/1.png' %}" alt=""></div>
                                <p class="news_titel">Встреча с председателем РО ОСВОД Центрального района Романовым Н.М.</p>
                                <p class="news_date">12.12.2022</p>
                                <p class="news_description">«Правила поведения на водоёмах зимой » обсуждали учащиеся на встрече с председателем РО ОСВОД Центрального района Романовым Н.М.</p>

                            </div>
                        </a>
                        <a href="page_11.html" class="news__image">

                            <div class="news_item">

                                <div class="news__image"><img src="{% static 'img/news/1.png' %}" alt=""></div>
                                <p class="news_titel">Встреча с председателем РО ОСВОД Центрального района Романовым Н.М.</p>
                                <p class="news_date">12.12.2022</p>
                                <p class="news_description">«Правила поведения на водоёмах зимой » обсуждали учащиеся на встрече с председателем РО ОСВОД Центрального района Романовым Н.М.</p>

                            </div>
                        </a>
                        <a href="page_11.html" class="news__image">

                            <div class="news_item">

                              <div class="news__image"><img src="{% static 'img/news/1.png' %}" alt=""></div>
                                <p class="news_titel">Встреча с председателем РО ОСВОД Центрального района Романовым Н.М.</p>
                                <p class="news_date">12.12.2022</p>
                                <p class="news_description">«Правила поведения на водоёмах зимой » обсуждали учащиеся на встрече с председателем РО ОСВОД Центрального района Романовым Н.М.</p>

                            </div>
                        </a>
                        <a href="page_11.html" class="news__image">

                            <div class="news_item">

                                 <div class="news__image"><img src="{% static 'img/news/1.png' %}" alt=""></div>
                                <p class="news_titel">Встреча с председателем РО ОСВОД Центрального района Романовым Н.М.</p>
                                <p class="news_date">12.12.2022</p>
                                <p class="news_description">«Правила поведения на водоёмах зимой » обсуждали учащиеся на встрече с председателем РО ОСВОД Центрального района Романовым Н.М.</p>

                            </div>
                        </a>
                        <a href="page_11.html" class="news__image">

                            <div class="news_item">

                                <div class="news__image"><img src="{% static 'img/news/1.png' %}" alt=""></div>
                                <p class="news_titel">Встреча с председателем РО ОСВОД Центрального района Романовым Н.М.</p>
                                <p class="news_date">12.12.2022</p>
                                <p class="news_description">«Правила поведения на водоёмах зимой » обсуждали учащиеся на встрече с председателем РО ОСВОД Центрального района Романовым Н.М.</p>

                            </div>
                        </a>

                    </div>
                </section>

            </section>
        </main>



{% endblock %}