{% extends 'schoolapp/header.html' %}
{% load static %}
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
    <title>Фото альбом</title>
</head>
{% endblock %}
{% block name %}

        <main class="main">
            <section class="content">

                <div class="container">


	<div class="main-img">
		<button class="close">&times;</button>
		<button class="next">Next</button>
		<button class="prev">Prev</button>
		<img src="" alt="">
	</div>
	<div class="overlay"></div>
	<div class="gallery-wrapper">
        {% for photo in photos %}
		<div class="img">
			<img src="{{ photo.img.url }}" alt="">
            <p>{{ photo.title }}</p>
            <p>{{ photo.date }}</p>
		</div>
		{% endfor %}
	</div>
</div>


            </section>
        </main>

    {% block scripts %}
    <script src="{% static 'js/gallery.js' %}" defer></script>
    {% endblock scripts %}
{% endblock %}