{% extends 'schoolapp/header.html' %}
{% load static %}
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
    <title>Расписание</title>
</head>
{% endblock %}
{% block name %}

        <main class="main">
            <section class="content">
                <section class="content__gallery gallery">

                    <div class="gallery__items">
                        <div class="gallery__item2 gallery__item_big">
                            <h2 class="gallary_title">Расписание каникул 2022-2023 учебного года</h2>
                            <p>На протяжении учебного года устанавливаются каникулы:
                                <ul>
                                    <li type="disc">осенние – 9 дней, с 30 октября по 7 ноября 2022 г. включительно;</li>
                                    <li type="disc">зимние – 15 дней, с 25 декабря по 8 января 2023 г. включительно;</li>
                                    <li type="disc">весенние – 8 дней, с 26 марта по 2 апреля 2023 г. включительно;</li>
                                    <li type="disc">летние – 92 дня, с 1 июня по 31 августа 2023 г., для учащихся, завершивших обучение на II ступени общего среднего образования, – 81 день, с 12 июня по 31 августа 2023 г. включительно.</li>
                                </ul>
                                Дополнительные зимние каникулы продолжительностью 7 дней (с 20 по 26 февраля 2023 года) в ІІІ четверти проводятся для учащихся I-II классов и для учащихся ІІІ классов с особенностями психофизического развития с пятилетним сроком обучения на I ступени
                                общего среднего образования.</p>
                        </div>
                        <div class="gallery__item2 gallery__item_big scheldule2">
                            <h2 class="gallery__title">Расписание звонков</h2>
                            <div class="scheldule">
                                <div class="table1">
                                    <h4>1 смена</h4>
                                    <table>
                                        <tr>
                                            <th>Урок</th>
                                            <th>Время</th>

                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td> 08:00 - 08:45</td>

                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>09:00 - 09:45</td>

                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>10:00 - 10:45</td>

                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td> 11:00 - 11:45</td>

                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td> 12:00 - 12:45</td>

                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>13:00 - 13:45</td>

                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td> 14:00 - 14:45</td>

                                        </tr>
                                    </table>
                                </div>
                                <div class="table2">
                                    <h4>2 смена</h4>
                                    <table>
                                        <tr>
                                            <th>Урок</th>
                                            <th>Время</th>

                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td> 08:00 - 08:45</td>

                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>09:00 - 09:45</td>

                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>10:00 - 10:45</td>

                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td> 11:00 - 11:45</td>

                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td> 12:00 - 12:45</td>

                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>13:00 - 13:45</td>

                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td> 14:00 - 14:45</td>

                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <div class="gallery__item2 gallery__item_big">
                            <h2 class="gallery__title">Расписание четвертей 2022-2023 учебного года</h2>
                            <div class="scheldule">
                                <div class="table3">
                                    <h4>1 смена</h4>
                                    <table class="table3">
                                        <tr>
                                            <th>Четверть</th>
                                            <th>Начало</th>
                                            <th>Конец</th>

                                        </tr>
                                        <tr>
                                            <td>1-ая</td>
                                            <td>1 сентября 2022 г.</td>
                                            <td>29 октября 2022 г.</td>

                                        </tr>
                                        <tr>
                                            <td>2-ая</td>
                                            <td>8 ноября 2022 г.</td>
                                            <td>24 декабря 2022 г.</td>

                                        </tr>
                                        <tr>
                                            <td>3-ая</td>
                                            <td>9 января 2023 г.</td>
                                            <td>25 марта 2023 г.</td>

                                        </tr>
                                        <tr>
                                            <td>4-ая</td>
                                            <td>3 апреля 2023 г.</td>
                                            <td>31 мая 2023 г</td>

                                        </tr>

                                    </table>
                                </div>

                            </div>

                        </div>

                    </div>
                </section>

            </section>
        </main>



{% endblock %}